[submodule "themes/butterfly"]
    path = themes/butterfly
    url = https://github.com/Windsland52/hexo-theme-butterfly.git
[submodule ".deploy_git"]
    path = .deploy_git
    url = https://github.com/Windsland52/windsland52.github.io.git/hexo
